<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New bike</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<style>
    .create-button {
        background-color: royalblue;
        color: white;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        display: inline-block;
        cursor: pointer;
        margin-bottom: auto;
    }
</style>

<body>

<form th:method="POST" th:action="@{/bikes}" th:object="${bike}" enctype="multipart/form-data">
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="title">Bike name: </label>
        <input class="mdl-textfield__input" type="text" th:field="*{title}" id="title"/>
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    </div>
    <br/>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="author">Producer: </label>
        <input class="mdl-textfield__input" type="text" th:field="*{producer}" id="author"/>
        <div style="color:red" th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}">Producer Error</div>
    </div>
    <br/>
    <div class="mdl-textfield mdl-js-textfield">
        <label class="mdl-textfield__label" for="year">Year: </label>
        <input class="mdl-textfield__input" type="text" th:field="*{year}" id="year"/>
        <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>
    </div>
    <br/>

    <div class="mdl-textfield mdl-js-textfield">
        <label for="year"  class="mdl-textfield__label">Price: </label>
        <input type="text" class="mdl-textfield__input" th:field="*{price}" id="year" />
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price Error</div>
    </div>
    <br/>
    <label th:attrappend="for=${'file-upload' + bike.getId()}" class="create-button mdl-button mdl-js-button mdl-button--raised">
        Select file
    </label>
    <br/>
    <input th:attrappend="id=${'file-upload' + bike.getId()}" type="file" name="image" />
    <br/>
    <input type="submit" value="Create!" class="create-button mdl-button mdl-js-button mdl-button--raised"/>
</form>

</body>
</html>