<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New client</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<style>
    .create-button {
        background-color: royalblue;
        color: white;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<body>
<div class="container">
    <form th:method="POST" th:action="@{/clients}" th:object="${client}">
        <div class="mdl-textfield mdl-js-textfield">
            <label for="login" class="mdl-textfield__label">Login: </label>
            <input type="text" class="mdl-textfield__input" th:field="*{login}" id="login"/>
            <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login</div>
        </div>
        <br/>
        <div class="mdl-textfield mdl-js-textfield">
            <label for="password" class="mdl-textfield__label">Password: </label>
            <input type="text" class="mdl-textfield__input" th:field="*{password}" id="password"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">login</div>
        </div>
        <br/>
         <div class="mdl-textfield mdl-js-textfield">
            <label for="fullName" class="mdl-textfield__label">Enter full name: </label>
            <input type="text" class="mdl-textfield__input" th:field="*{fullName}" id="fullName"/>
            <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full Name Error</div>
        </div>
        <br/>
        <div class="mdl-textfield mdl-js-textfield">
            <label for="yearOfBirth" class="mdl-textfield__label">Year of birth: </label>
            <input type="text" class="mdl-textfield__input" th:field="*{yearOfBirth}" id="yearOfBirth"/>
            <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth Error</div>
        </div>
        <br/>
        <div class="mdl-textfield mdl-js-textfield">
            <label for="telephone" class="mdl-textfield__label">Telephone: </label>
            <input type="text" class="mdl-textfield__input" th:field="*{telephone}" id="telephone"/>
            <div style="color:red" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Telephone Error</div>
        </div>


        <br/>
        <input type="submit" value="Create!" class="create-button mdl-button mdl-js-button mdl-button--raised"/>
    </form>
</div>


</body>
</html>