<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
    .create-button {
        background-color: royalblue;
        color: white;
        height: 20px;
        font-size: 10px;
        line-height: 10px;
    }

    body {
        font-size: 15px;
    }
    .block {
        margin: 3px;
    }
    a {
        color: royalblue;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .inner {
        display: block;
    }

</style>
<body>

    <div style='display:flex; justify-content:space-between; align-items:center; margin: 10px' >
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <span>
                <a href = "/clients" class="btn btn-primary btn-sm mb-3"> Go to clients </a>
                <a href = "/bikes" class="btn btn-primary btn-sm mb-3"> Go to bikes </a>
            </span>
        </div>
        <div>
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Logout" class="btn btn-primary btn-sm mb-3">
            </form>
        </div>
    </div>

<div class="container">
    <div class="inner">
        <div class="block">
            <span><b>Сlient:</b></span> <span th:text="${client.getFullName() + ', ' + client.getYearOfBirth()}">
            </span>
        </div>

        <div th:if="${bikes.isEmpty()}">
            <p>Didn't rent any bike</p>
        </div>

        <div th:if="${!bikes.isEmpty()}">
            <hr/>
            <b>Bikes:</b>
            <br/>
            <table th:each="bike : ${bikes}">
                <tr>
                    <td>
                        <a th:href="@{/bikes/{id}(id=${bike.getId()})}"
                           th:text="${bike.getTitle() + ', ' + bike.getProducer() + ', ' + bike.getYear()}"
                           th:style="${bike.isExpired()} ? 'color: red' : 'color: blue'">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <br/>

        <div th:if="${!reservations.isEmpty()}">
            <hr/>
            <b>Reservations:</b>
            <br/>
            <table th:each="res : ${reservations}">
                <tr>
                    <td>
                        <a th:href="@{/bikes/{id}(id=${res.getReservedBike().getId()})}"
                           th:text="${#dates.format(res.getReserveDate(), 'dd-MM-yyyy')}">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <br/>
        <hr/>

        <div th:if="${debts.isEmpty()}">
            <p><b>Any debts</b></p>
        </div>
        <div th:if="${!debts.isEmpty()}">
            <b>Debts:</b>
            <br/>
            <table th:each="debt : ${debts}">
                <tr>
                    <td>
                        <form th:method="POST" th:action="@{/debts/pay}">
                            <input type="text" th:value="${debt.value}" id="amount" name="amount">
                            <input type="hidden" th:value="${client.id}" id="clientId" name="clientId">
                            <input type="hidden" th:value="${debt.key.getId()}" id="bikeId" name="bikeId">
                            <div th:if="${errorMessage}" th:style="'color: red'">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            <input type="submit" value="Pay">
                        </form>
                    </td>
                </tr>
            </table>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>